<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eco Clear</title>
    <link rel="stylesheet" href="cadastra_login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="shortcut icon" href="img/logo3 (1).png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <a href="cadastro_login.php" class="voltar"><i class="fas fa-arrow-left"></i> Voltar</a>
                <h2 class="title title-primary">Olá, Amigo!</h2><br/>
                <p class="description description-primary">Insira os dados do administrador</p>
            </div>
            <div class="second-column-1" style="justify-content: center;">
                <h2 class="title title-second">Entre na sua conta</h2>
                <p class="description description-second">Preencha os dados para acessar:</p>
                <form class="form" id="loginForm" action="../controller/controller_empresa.php?tipo_acao=adm" method="post">
                
                    <label class="label-input" for="admEmail">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="text" id="admEmail" name="admEmail" minlength="14" maxlength="100" placeholder="Email">
                    </label>

                    <label class="label-input" for="admSenha">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="password" id="admSenha" name="admSenha" placeholder="Senha">
                    </label>
                
                    <button type="submit" class="btn btn-second">Entrar</button>
                </form>
                <a href="adm.html" class="adm"><i class="fa-solid fa-user-tie"></i> Adm</a>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>

    <script src="app.js"></script>
</body>
</html>
